<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Benefits</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
</head>
<body>
<header th:replace="frags :: header"></header>
<ul>
    <li>25% off all WFC menu items</li>
    <li>Health Insurance (medical, dental & vision)</li>
    <li>Vacation</li>
    <li>Sick leave</li>
    <li>Wellbeing program that offers incentives for both individuals and families</li>
</ul>
</body>
</html>