<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
</head>
<body>
<header th:replace="frags :: header"></header>
<div class="container row justify-content-center">
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
            <form th:action="@{/login}" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" autofocus="autofocus">
                <br/>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <br/>
                <br/>
                <input id="login" type="submit" value="Log In">
            </form>
        </div>
        <div class="col-md">
            <div th:if="${param.error}" class="alert">
                Invalid username or password. Try again.
            </div>
            <div th:if="${param.logout}" class="goodbye">
                You have been logged out. See you later!
            </div>
        </div>
    </div>
</div>
</body>
</html>